#page-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Detials */

.orphanage-details {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;

    overflow: hidden;
}

.orphanage-details > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;
}

/* Setting up the small images below main image */
.images button {
    border: 0;
    background: none;

    height: 8.8rem;
    cursor: pointer;
    border-radius: 2rem;

    overflow: hidden;

    opacity: 0.6;

    transition: 200ms;
}

.images button:hover,
.images button.active {
    opacity: 1;
}

.images button img {
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

/* Orphanage details content */
.orphanage-details-content {
    padding: 8rem;
}

.orphanage-details-content h1 {
    color: #4d6f80;
    font-size: 5.4rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.orphanage-details-content p {
    line-height: 1.6;
    color: #5c8599;
    margin-top: 2.4rem;
}

.orphanage-details-content hr {
    width: 100%;
    height: 1px;

    border: 0;

    background: #d3e2e6;

    margin: 6.4rem 0;
}

.orphanage-details-content h2 {
    font-size: 3.6rem;
    line-height: 1.5;
    color: #4d6f80;
}

.open-details {
    margin-top: 2.4rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.open-details div {
    padding: 3.6rem 2.4rem;
}

.open-details img {
    display: block;

    margin-bottom: 2rem;
}

/* Information boxes */
.open-details .hour {
    /* Blue Low */
    background: linear-gradient(149.97deg, #e6f7fb 8.13%, #FFFFFF 92.67%);
    border: 1px solid #b3dae2;
    border-radius: 20px;
    color: #5c8599;
}

.open-details .open-on-weekends {
    /* Green Low */
    background: linear-gradient(154.16deg, #edfff6 7.85%, #ffffff 91.03%);
    border: 1px solid #a1e9c5;
    border-radius: 20px;
    color: #37c77f;
}

.primary-button {
    margin-top: 6.4rem;

    width: 100%;
    height: 6.4rem;
    border: 0;

    cursor: pointer;
    
    background: #3cdc8c;

    border-radius: 2rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
}

.primary-button:hover {
    background: #36cf82;
}

.primary-button img {
    margin-right: 1.6rem;
}